.content {
    position: relative;
    background-color: #EEE;
    min-height: 100vh;

    .swiper-container {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        max-height: 467px;
        object-fit: cover;
    }

    .swiper-container {
        margin-left: auto;
        margin-right: auto;
    }

    .icon {
        padding: 0 5px;
    }
}

.about {
    margin-bottom: 20px;
}

.slogon {
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 5px;
}

.go-top {
    position: fixed;
    right: 35px;
    bottom: 35px;
    font-size: 25px;
    color: #121211;
    opacity: 0;
    
    &:hover {
        color: #F00;
    }

    &.visible {
        opacity: 1;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;

    .card {
        margin: 20px 0;
    }
}

footer {
    padding: 20px 0;
    text-align: center;
}